* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    &:before, &:after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

html{
    min-height: 100%;
    height: 100%;
}

body {
    font: 400 16px/1 Arial;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    color: #000;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

a {
    transition: all .3s;
    display: inline-block;
    color: #333;
    text-decoration: none;
    &:hover,
    &:active {
        color: #333;
    }
    &.disabled {
        color: #333;
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

a,
input,
button,
textarea,
select {
    outline: none;
    border: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

ol, ul {
    list-style: none;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    transition: all .3s;
    color: transparent !important;
}

input:focus::-moz-placeholder {
    /* Firefox 19+ */
    transition: all .3s;
    color: transparent !important;
}

input:focus:-ms-input-placeholder {
    /* IE 10+ */
    transition: all .3s;
    color: transparent !important;
}

input:focus:-moz-placeholder {
    /* Firefox 18- */
    transition: all .3s;
    color: transparent !important;
}
[data-svg] {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.svg {
    display: inline-block;
    transition: all .3s;
    height: 20px;
    width: 20px;
}
.flex{
    display: flex;
    flex-flow: row wrap;
}
.wrapper {
    position: relative;
    flex: 1 0;
    background-color: #f7f7f7;
}
main.content {
    position: relative;
    display: block;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.schedule{
    max-width: 1200px;
    margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.js-time{
	padding: 180px 0;
	position: relative;
	.swiper-button{
		margin: 20px 30px;
        top: 255px;
	}
}
.timeline{
	display: flex;
	width: 100%;
	align-items: flex-end;
	flex-flow: row nowrap;
	height: 5px;
	z-index: 15;
	position: relative;
	& > div {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
		& > div {
			position: relative;
			display: flex;
			flex: 1 0;
			background-color: #069;
			&::before {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #069;
				margin-top: -5px;
			}
			&:last-child::after {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #069;
				margin-top: -5px;
			}
		}
	}
	&__date{
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		text-align: center;
		margin-top: 3px;
		font-size: 12px;
		z-index: 1;
	}
	&__day{
		position: absolute;
		text-transform: uppercase;
		top: -175px;
		width: 100%;
		text-align: center;
		font-size: 14px;
		z-index: 1;
		left: 0;
		font-weight: 700;
		color: #069;
	}
}

.marker-list {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    height: 5px;
    align-items: flex-end;
    justify-content: center;
    & > div {
        cursor: pointer;
        &:nth-child(even) {
            .marker {
                margin: 0 0 40px;
                &::before {
                    height: 40px;
                }
            }
        }
        &:hover,
		&.marker--hover {
            z-index: 10;
            .marker {
                margin: 0 -35px 70px;
                width: 100px;
                flex: 0 0 100px;
                height: 100px;
                &::before {
                    height: 70px;
                }
                &__name {
                    font-size: 20px;
                    font-weight: 700;
                    border-bottom-color: inherit;
                }
                &__time {
                    max-height: 40px;
                    font-size: 22px;
                    opacity: 1;
                }
            }
            &.marker--down {
                .marker__name {
                    border-top-color: inherit;
                    border-bottom-color: transparent;
                }
            }
        }
    }
}

.marker {
    width: 35px;
    flex: 0 0 35px;
    margin: 0 -3px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 35px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    line-height: 1.4;
    transition: all .4s;
    color: #fff;
    &::before {
        content: '';
        transition: .4s;
        position: absolute;
        display: block;
        width: 2px;
        left: 50%;
        margin: 0 0 0 -1px;
        height: 15px;
        top: 100%;
        background-color: transparent;
    }
    &--dead {
        background: #9fa8da;
        &::before {
            background-color: #9fa8da;
        }
    }
    &--exam {
        background: #3f51b5;
        &::before {
            background-color: #3f51b5;
        }
    }
    &--ue {
        background: #64b5f6;
        &::before {
            background-color: #29b6f6;
        }
    }
    &--vo {
        background: #90a4ae;
        &::before {
            background-color: #90a4ae;
        }
    }
    &--my {
        background: #bbdefb;
        &::before {
            background-color: #bbdefb;
        }
    }

    &--down {
        transform: rotate(-180deg) translateY(-100%);
        .marker {
            &__name,
            &__time {
                transform: rotate(-180deg);
            }
        }
    }
	&--hidden{
		opacity: 0;
		visibility: hidden;
	}
    &__name {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 400;
        white-space: nowrap;
        transition: all .4s;
        border: 1px solid transparent;
    }
    &__time {
        position: relative;
        transition: all .4s;
        overflow: hidden;
        opacity: 0;
        font-weight: 700;
        max-height: 0;
    }
}

.nav{
    justify-content: space-between;
    margin-bottom: 20px;
}
.filters{
    align-items: center;
    & > div{
        margin-left: 30px;
    }
}
.filter{
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all .4s;
    padding: 5px 0;
    &__color{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    &__name{
        font-weight: 700;
    }
    &.active,
    &:hover{
        border-color: #069;
    }
}
.my-task{
	font-size: 18px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #069;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	&::after{
		content: '+';
		margin-left: 3px;
	}
	&::before{
		content: '';
		transition: .4s;
		position: absolute;
		display: block;
		width: 1px;
		left: 50%;
		top: 100%;
		height: 0;
		background-color: #ced4da;
	}
	&.active{
		&::before{
			height: 20px;
		}
	}
}
.add-tasks{
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	width: 320px;
	margin-right: 30px;
	padding: 20px;
}
.select,
.vdatetime-input{
	margin-bottom: 20px;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #f7f7f7;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.add-tasks-button{
	color: #fff;
	background-color: #069;
	display: block;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid #069;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	max-width: 150px;
	width: 100%;
}
.tasks {
	&--wrap{
		align-items: flex-start;
	}
    flex: 1 0;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    text-align: center;
    td, th {
        padding: 10px;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
		max-width: 200px;
		line-height: 1.2;
		&:nth-child(5){
			text-align: left;
		}
        &:last-child{
            border-left: 1px solid #dee2e6;
        }
    }
    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        &:first-child{
            width: 40px;
        }

    }
    tbody tr{
        transition: all .3s;
        cursor: pointer;
        &:hover,
		&.row--hover {
            background-color: rgba(0,0,0,.075);
        }
		td{

		}
    }
    .filter__type{
        margin-right: 0;
    }
	.row--hidden{
		display: none;
	}
}
.links-group{
    align-items: center;
    justify-content: space-around;
	a{
		display: block;
		opacity: .7;
		transition: all .3s;
		&:hover{
			opacity: 1;
		}
		& > img{
			display: block;
			width: 100%;
		}
		&:nth-child(1){
			width: 20px;
			height: 20px;
		}
		&:nth-child(2){
			width: 22px;
			height: 22px;
		}
	}
}
